.recommended-flex{
    flex: 1;

}
.recommended-title{

    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}
.recommended-btns{
    padding: 10px 10px;
    margin: 16px;
    background: transparent;
    border: none;
    border: 0.6px solid #ccc;
    border-radius: 5px;
    color: #323232;
    cursor: pointer;
}